.mesa-disponible {
    background-color: #3498db; /* Azul */
    color: white;
    border: 2px solid #2980b9;
}

.mesa-reservada {
    background-color: #e74c3c; /* Rojo */
    color: rgb(143, 61, 61);
    border: 2px solid #c0392b;
}

.mesa-seleccionada {
    background-color: #f1c40f; /* Amarillo */
    color: black;
    border: 2px solid #f39c12;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0 10px #000;
}